# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [14]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [15]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [16]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)
encoded_df = pd.concat([encoded_df, numerical_variables_df], axis=1)

# Review the DataFrame
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [17]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [18]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [19]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [20]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [21]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [22]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [23]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  15

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

15

In [24]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  5

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

5

In [25]:
# Create the Sequential model instance
nn = Sequential()

In [26]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [27]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [28]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [29]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 15)                1755

 dense_1 (Dense)             (None, 5)                 80

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 1,841
Trainable params: 1,841
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [30]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5993 - accuracy: 0.7034
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5585 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7320
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7312
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7317
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7326
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7334
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7335
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7340
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7342
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7350
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7349
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7329
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5409 - accuracy: 0.7347
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7351
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7352
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7366
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7361
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7358
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5388 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7361
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7379
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7366
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7369
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7362
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7373
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 49/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7371
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7373

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [32]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5525 - accuracy: 0.7317 - 520ms/epoch - 2ms/step
Loss: 0.5525103807449341, Accuracy: 0.7316617965698242

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [33]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = (number_input_features + 5) // 2

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

2

In [37]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 70

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

70

In [38]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 30

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

30

In [39]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [40]:

# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Check the structure of the model
nn_A1.add(Dense(units=1, activation="sigmoid"))

In [41]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [42]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6157 - accuracy: 0.6858
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5745 - accuracy: 0.7175
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5671 - accuracy: 0.7165
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5645 - accuracy: 0.7180
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5631 - accuracy: 0.7196
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5616 - accuracy: 0.7200
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5606 - accuracy: 0.7213
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5593 - accuracy: 0.7209
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5591 - accuracy: 0.7206
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5586 - accuracy: 0.7200
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7200
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7202
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5580 - accuracy: 0.7204
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5579 - accuracy: 0.7205
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5578 - accuracy: 0.7193
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5580 - accuracy: 0.7191
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7210
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7201
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7206
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7195
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5573 - accuracy: 0.7206
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5572 - accuracy: 0.7200
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7201
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7204
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7205
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7196
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5568 - accuracy: 0.7196
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5570 - accuracy: 0.7202
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7189
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7199
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5571 - accuracy: 0.7200
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7195
Epoch 33/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5564 - accuracy: 0.7201
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7190
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7198
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7202
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7196
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7208
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5566 - accuracy: 0.7203
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7190
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7197
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7203
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7200
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7206
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7201
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7206
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7205
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7202
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7205
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7193

#### Alternative Model 2

In [43]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [44]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 3

In [45]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

12

In [46]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 6

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

6

In [47]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [48]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Check the structure of the model
nn_A2.add(Dense(units=1, activation="sigmoid"))

In [49]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6027 - accuracy: 0.7025
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5616 - accuracy: 0.7268
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5543 - accuracy: 0.7300
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7319
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7320
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7327
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7324
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7336
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 22/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7376
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7373
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7363
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7375
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7368
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7377
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7376
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 43/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7371
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7385
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5380 - accuracy: 0.7382

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [53]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5525 - accuracy: 0.7317 - 392ms/epoch - 1ms/step
Loss: 0.5525103807449341, Accuracy: 0.7316617965698242

In [54]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5596 - accuracy: 0.7193 - 402ms/epoch - 2ms/step
Loss: 0.5596415996551514, Accuracy: 0.7193002700805664

In [55]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5555 - accuracy: 0.7307 - 541ms/epoch - 2ms/step
Loss: 0.5554667711257935, Accuracy: 0.7307288646697998

### Step 3: Save each of your alternative models as an HDF5 file.

In [56]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [57]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)